* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 0px 1%;
}

h1 {
	margin: 2% 0%;

}
section {
	background-color: #5F00A8;
	border: 1px solid #000;
	font-size: 1.2em;
	margin: 1% 1%;
	display: inline-block;
	float: left;
	
}

.title {
	border: 1px solid #000;
	background-color: #FEF489;
	font-weight: bold;
	float: right;
	padding: 0px 3%;
}

.text {
	color: #fff;
	clear: both;
	padding: 1%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 31.3%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6 {
		width: 48%;
	}
}